{#{% extends "base.html" %}#}
{##}
{##}
{#{% block content %}#}
    <div class="span-18 last">&nbsp;</div>
    <div class="span-15">&nbsp;</div>
    <div class="span-3 last">
        <a href="#" id="show_hide_{{ app_label }}_{{ model }}_{{ constraint }}_history">Show/Hide History</a>
    </div>
    <div class="span-18 last" id="toggle_{{ app_label }}_{{ model }}_{{ constraint }}_history">
        <div class="span-18 last">&nbsp;</div>
        <div class="span-18 last clear">&nbsp;</div>
        <div class="span-18 last">
            <h4><div id="history_count_{{ app_label }}_{{ model }}_{{ constraint }}" style="display: inline;">self.get_queryset()
            </div> Audit Trail records for {{ object }}</h4>
            <table id="history_{{ app_label }}_{{ model }}_{{ constraint }}" >
                <thead><tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Object</th>
                    <th>Type</th>
                    <th>Fields</th>
                    <th>Previous Values</th>
                    <th>Current Values</th></tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="span-18 last">&nbsp;</div>

    <link rel="stylesheet" href="{{STATIC_URL}}css/legacy_jquery.dataTables.css" />
    <script type="text/javascript" language="javascript"
            src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
    {# This sets up the defaults #}
    <script type="text/javascript" language="javascript"
            src="{{STATIC_URL}}js/jquery.dataTables.defaults.js"></script>

    <script style="text/javascript">
        $(document).ready(function() {
            $('#history_{{ app_label }}_{{ model }}_{{ constraint }}').dataTable({
               'sDom': '<l><"clear">rt<i>',
               "sAjaxSource": "{% url historical_ajax_list app_label=app_label model=model field=field constraint=constraint %}",
               "fnInfoCallback": function( oSettings, iStart, iEnd, iMax, iTotal, sPre ){
                   $('#history_count_{{ app_label }}_{{ model }}_{{ constraint }}').html(iTotal);
                   return "Showing "+iStart +" to "+ iEnd+" of "+iTotal+" entries";
               },
               "aaSorting": [ ],
               "aoColumns": [
                  { 'sWidth': '15%' },
                  { },
                  { {% if field == "id" %}'bVisible':false{% endif %} },
                  { 'sWidth': '15%' },
                  { 'sWidth': '15%' },
                  { 'sWidth': '15%' },
                  { 'sWidth': '15%' }
               ]

            })
            $('#toggle_{{ app_label }}_{{ model }}_{{ constraint }}_history').hide();
            $('#show_hide_{{ app_label }}_{{ model }}_{{ constraint }}_history').click(function() {
                $('#toggle_{{ app_label }}_{{ model }}_{{ constraint }}_history').toggle(400);
                return false;
            });


        })
    </script>

{#{% endblock %}#}
